.App {
  text-align: center;
}
/* mis estilos */

/*¡La aplicacion es responsive!*/

/*El css se realizo de forma rapida ya que solo es secundario*/

h1 {
  margin-bottom: 3vh;
  color: #18335f;
  text-shadow: 2px 2px 2px #5482CE;
}

h2 {
  margin-bottom: 3vh;
  color: #5f3a18;
  text-shadow: 2px 2px 2px rgba(184, 124, 68, 0.733);
}

h1.ingreso{
  margin-bottom: 3vh;
  color: #185f27;
  text-shadow: 2px 2px 2px #6f996fb6;
}

ul.accionesPrincipales {
  list-style: none;
  padding: 0vw;
  margin-left: 0px;
}

ul.accionesPrincipales li{
  height: 55px;
}

.ingresarDisp{
  display: flex;
  flex-direction: column;
}

.form-control {
  text-align: center;
  margin: auto;
  max-width: 80%;
}

select.form-control {
  border: 1px solid #7ca1d5;
  font-weight: bold;
  color: rgb(206, 99, 0);
  -webkit-box-shadow: 9px 10px 5px 0px rgba(177, 194, 224, 0.808);
  -moz-box-shadow: 9px 10px 5px 0px rgba(177, 194, 224, 0.808);
  box-shadow: 9px 10px 5px 0px rgba(177, 194, 224, 0.808);
  /*que el cursor apunte*/
  cursor: pointer;

}

select.form-control option {
  border: 1px solid #7ca1d5;
  color: rgb(199, 110, 26);
  text-align: center;
}

select.form-control#verde {
  color: #185f27;
}

select.form-control option#verde {
  color: #34a34c;
}

select.form-control option#verde2 {
  font-weight: bold;
  font-size: 1.2em;
  color: #34a34c;
}

select.form-control option#filtro {
  font-weight: bold;
  font-size: 1.2em;
  color: rgb(199, 110, 26);
}

table.table.table-striped {
  background-color: rgb(159 208 255);
}

/*Boton verde*/
a.btn.btn-success.btn-lg.mt-2.mb-2.text-white {
  width: 100%;
  margin: auto;
}

a.btn.btn-success.btn-lg.mt-2.mb-2.text-white#volverInicio {
  background-color: rgb(21, 21, 168);
}

a.btn.btn-success.btn-lg.mt-2.mb-2.text-white#volverInicio:hover {
  background-color: rgb(14, 14, 133);
}

button.btn.btn-primary {
  margin-top: 1%;
  margin-bottom: 1%;
  -webkit-box-shadow: 8px 6px 5px 0px rgba(177,194,224,1);
  -moz-box-shadow: 8px 6px 5px 0px rgba(177,194,224,1);
  box-shadow: 8px 6px 5px 0px rgba(177,194,224,1);
}

button.btn.btn-primary#filtro {

  background-color: rgb(189, 129, 17);
  border: rgb(189, 129, 17);
  -webkit-box-shadow: 8px 6px 5px 0px rgba(184, 124, 68, 0.486);
  -moz-box-shadow: 8px 6px 5px 0px rgba(184, 124, 68, 0.486);
  box-shadow: 8px 6px 5px 0px rgba(184, 124, 68, 0.486);

}

button.btn.btn-primary#filtro:hover {
  background-color: rgb(175, 119, 16);
}

hr#espacio{
  color: aliceblue;
}

/*Diseño responsivo*/

@media (max-width: 30em) {

  table{
    width: 100%;
  }

  table tr {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-bottom: 1em;
  }

  td.accion {
    border: 1px dashed;
  }

  table td[data-titulo]{
    display: flex;
    justify-content: space-between;
  }

  table td[data-titulo]::before{
    content: attr(data-titulo);
    font-weight: bold;
    color:rgb(3, 18, 148);
    width: 106px;
  }

  table tr td {
    border: 1px solid rgb(0, 0, 0);
    margin: 1px;
  }

  table thead {
    display: none;
  }

}

div.tablaPrincipal{
  width: 100%;
  margin: auto;
}

form.nuevoDispositivo{
  display: grid;
  width: 80%;
  margin: auto;
}

input[type="text"] {
  text-align: center;
  border: 1px solid #7ca1d5;
  margin-bottom: 1vh;
  color :#185f27
}

/*fin mis estilos*/
