.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* mis estilos */

.form-control {
  text-align: center;
  margin: auto;
  max-width: 80%;
}

/*Boton agregar dispositivo a bodega*/
a.btn.btn-success.btn-lg.mt-2.mb-2.text-white {
  width: 100%;
  margin: auto;
}

/*quiero una variable que pueda llamar = 900px*/
@media (max-width: 30em) {

  table{
    width: 100%;
  }

  table tr {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-bottom: 1em;
  }

  td.accion {
    border: 1px dashed;
  }

  table td[data-titulo]{
    display: flex;
    justify-content: space-between;
  }

  table td[data-titulo]::before{
    content: attr(data-titulo);
    font-weight: bold;
    color:rgb(3, 18, 148);
    width: 106px;
  }

  table tr td {
    border: 1px solid rgb(0, 0, 0);
    margin: 1px;
  }

  table thead {
    display: none;
  }

}



div.tablaPrincipal{
  width: 100%;
  margin: auto;
}

/*fin mis estilos*/


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
